<h1>Place an order.</h1>

<form action="/order/confirmed" method="post">
  <label for="name">Name:</label>
  <input type="test" name="name">

  <label for="address">Address:</label>
  <input type="test" name="address"><p></p>

  <label for="size">Size:</label>
  <select name="size">
    <option>Select a size</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity"><p></p>

  <input type="submit" value="Order Shoes">
</form>